#body {
  background-color: black;
}
#statusbar {
  margin-top: 1%;
  border: solid 2px rgb(110, 36, 7);
  border-radius: 10px 10px 10px 10px;
}
#infobar {
  border: solid 2px rgb(255, 239, 98);
  border-radius: 10px 10px 10px 10px;
}
#battlebar {
  border: solid 2px rgb(21, 33, 197);
  border-radius: 10px 10px 10px 10px;
}
