body {
    text-align: center;
}
h1 {
    color: #00ffdd;
    background-color: black;
}
title {
    width: 50%;
}
p {
    height: 20px;
}
.textinput{
    width: 35%;
    height: 35px;
}
.subbutton{
    width: 5%;
    height: 35px;
    background-color: #00eeff;
}
